/* すべてのファイルで同じスタイリング。
共通のcss */
h1 {
  text-align: center;
  padding: 1rem 0;/*上下ちょっとあける*/
}

h2 {
  text-align: center;
  margin: 0 0 1rem 0;/*下ちょっとあける*/
}

span {
  font-weight: bold;
  padding: 0.5rem;
  background-color:#dc3545;
  color: white;
}

button{
  margin: 2rem 0 2.5rem 0;/*上右下左*/
}

footer {
  height: 10vh;
}

.to-list-page {
  padding: 1rem 0;/*上下ちょっとあける*/
  text-align: center;
}